{
  "name": "<%= @app_name %>",
  "author": {
    "name": "<%= @author_name %>",
    "email": "<%= @author_email %>"
  },
  "defaultLocale": "en",
  "private": true,
  "location": "ticket_sidebar",
  "frameworkVersion": "<%= @framework_version %>"
}
