---
title: "<%= @app_name %>"
packages:
  - default
  - app_<%= @package_name %>

parts:
<% @escaped_translations.each do |key, value| -%>
  - translation:
      key: "txt.apps.<%= @package_name %>.<%= key %>"
      title: ""
      value: "<%= value %>"
<% end %>
