---
title: "<%= @app_name %>"
packages:
  - default
  - app_<%= @package_name %>

parts:
<% @translations.each do |key, title_value| -%>
  - translation:
      key: "txt.apps.<%= @package_name %>.<%= key %>"
      title: "<%= title_value["title"] %>"
      value: "<%= title_value["value"] %>"
<% end %>