name: repo-checks

on:
  pull_request:
  push:
    branches:
      - master

jobs:
  main:
    name: ruby
    runs-on: ubuntu-latest
    strategy:
      matrix:
        ruby-version:
          - "2.7.5"
          - "2.6.10"
          - "2.6.9"
          - "2.6.8"
    steps:
      - uses: zendesk/checkout@v3
      - uses: zendesk/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby-version }}
      - name: Vendor Cache
        id: vendor-cache
        uses: zendesk/cache@v3
        with:
          path: vendor/cache
          key: ${{ runner.os }}-vendor-ruby-${{ matrix.ruby-version }}-lock-${{ hashFiles('Gemfile.lock') }}
          restore-keys: |
            ${{ runner.os }}-vendor-ruby-${{ matrix.ruby-version }}-
            ${{ runner.os }}-vendor-
      - name: before_script
        run: |
          gem update --system 3.3.22
          bundle config set frozen true
          bundle config set --local path 'vendor/cache'
          bundle install --jobs=3 --retry=3
          gem build zendesk_apps_tools.gemspec
          GEM_VERSION="$(sed -En "s/^.*VERSION = '([[:digit:]]+\\.[[:digit:]]+\\.[[:digit:]]+(\\.(beta|pre|rc)([[:digit:]]+|\\.?[[:digit:]]+)?)?)'$/\\1/p" lib/zendesk_apps_tools/version.rb)"
          gem install "./zendesk_apps_tools-$GEM_VERSION.gem"
      - name: Test
        run: |
          bundle exec rake
